#hema
{
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:#2E1C1A;
}

#ibrahim
{
    margin-top:40px;
    width: 100vw;
    height: 60px;
    background-color: #C9C8C7;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulseBlue 1.5s infinite alternate;

}
@keyframes pulseBlue {
    from {
        box-shadow:
            0 0 30px #3B3431,
            0 0 40px #31383B;

    }

    to {
        box-shadow:
            0 0 20px #3B3431,
            0 0 40px #31383B;
    }
}

#pages
{
     margin-top:40px;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    padding: 20px;
}
#h1-1 {
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px;
     -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color:#000000;
    font-family:   serif;
    font-size: 60px;

}

body {
    width: 100%;
    background-color:#E3F6FC;
}



#paraghraf {
    margin-right: 100px;
}

nav>ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav>ul>li>a {
    text-decoration: none;
}

#imgcolor {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 0px;
    animation: pulse 2s infinite alternate;

}

@keyframes pulse {
    from {
        box-shadow:
            0 0 10px #255E5A,
            0 0 15px #5E2529,
            0 0 30px #A526AB;

    }

    to {
        box-shadow:
            0 0 20px #255E5A,
            0 0 40px #5E2529,
            0 0 70px #FF9100;
    }
}

.circle-photo {
    border-radius: 50%;

    width: 300px;
    height: 300px;
    object-fit: cover;
    /* قص */
    object-position: center;
    /* يجيب النص */
}


.lead {

    font-size: 20px;
    font-weight: 900;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:#000000;
    font-family: 'Pacifico', serif;
    font-style:italic;
}
footer
{
    background: linear-gradient(90deg,#000000 , #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:#000000;
     align-items: center;
}

.dark-mode {
  background-color: #2B2B2B !important;
  color: white !important;
    size:30px;
}

#marig
{
    margin-left:100px;
    margin-bottom:100px;
    margin-top:100px;
}
